/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h2 {
    margin: 0;
}

form {
    width: 380px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 10px solid grey;
    margin-top: 100px;

}

.input-group {
    margin-bottom: 10px;

}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    /* width: 50%;
    display: block; */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

p {
    text-align: center;
}

a {
    color: #333;
}